[submodule "SpaceHuggers"]
	path = SpaceHuggers
	url = https://github.com/terence/SpaceHuggers.git
[submodule "doctor_memory"]
	path = doctor_memory
	url = https://github.com/terence/nq-doctor-memory.git
