[submodule "doctor-memory"]
	path = nq-doctor-memory
	url = https://github.com/terence/nq-doctor-memory.git
[submodule "nq-dwarfs"]
	path = nq-dwarfs
	url = https://github.com/terence/nq-dwarfs.git
[submodule "nq-asteroids"]
	path = nq-asteroids
	url = https://github.com/terence/nq-asteroids.git
[submodule "nq-pong"]
	path = nq-pong
	url = https://github.com/terence/nq-pong.git
[submodule "nq-helicopter"]
	path = nq-helicopter
	url = https://github.com/terence/nq-helicopter.git
[submodule "nq-missile-command"]
	path = nq-missile-command
	url = https://github.com/terence/nq-missile-command.git
[submodule "nq-lawyer-memory"]
	path = nq-lawyer-memory
	url = https://github.com/terence/nq-lawyer-memory.git
[submodule "nq-space-huggers"]
	path = nq-space-huggers
	url = https://github.com/terence/nq-space-huggers.git
[submodule "nq-doctor-memory"]
	path = nq-doctor-memory
	url = https://github.com/terence/nq-doctor-memory.git
[submodule "nq-snake"]
	path = nq-snake
	url = https://github.com/terence/nq-snake.git
