[submodule "nq-dwarfs"]
	path = nq-dwarfs
	url = https://github.com/terence/nq-dwarfs.git
[submodule "nq-asteroids"]
	path = nq-asteroids
	url = https://github.com/terence/nq-asteroids.git
[submodule "nq-pong"]
	path = nq-pong
	url = https://github.com/terence/nq-pong.git
[submodule "nq-missile-command"]
	path = nq-missile-command
	url = https://github.com/terence/nq-missile-command.git
[submodule "nq-lawyer-memory"]
	path = nq-lawyer-memory
	url = https://github.com/terence/nq-lawyer-memory.git
[submodule "nq-space-huggers"]
	path = nq-space-huggers
	url = https://github.com/terence/nq-space-huggers.git
[submodule "nq-doctor-memory"]
	path = nq-doctor-memory
	url = https://github.com/terence/nq-doctor-memory.git
[submodule "nq-snake"]
	path = nq-snake
	url = https://github.com/terence/nq-snake.git
[submodule "nq-frogger"]
	path = nq-frogger
	url = https://github.com/terence/nq-frogger.git
[submodule "nq-tetris"]
	path = nq-tetris
	url = https://github.com/terence/nq-tetris.git
[submodule "nq-chopper"]
	path = nq-chopper
	url = https://github.com/terence/nq-chopper.git
[submodule "nq-minesweeper"]
	path = nq-minesweeper
	url = https://github.com/terence/nq-minesweeper.git
[submodule "nq-pacman"]
	path = nq-pacman
	url = https://github.com/terence/nq-pacman.git
[submodule "nq-towers"]
	path = nq-towers
	url = https://github.com/terence/nq-towers.git
[submodule "nq-reversi"]
	path = nq-reversi
	url = https://github.com/terence/nq-reversi.git
[submodule "nq-space-invaders"]
	path = nq-space-invaders
	url = https://github.com/terence/nq-space-invaders.git
[submodule "nq-bomberman"]
	path = nq-bomberman
	url = https://github.com/terence/nq-bomberman.git
[submodule "nq-miniciv"]
	path = nq-miniciv
	url = https://github.com/terence/nq-miniciv.git
